# Created by http://www.gitignore.io

### Symfony2 ###
# Bootstrap
app/bootstrap*

# Symfony directories
web/bundles/
web/js/
web/css/
web/fonts
cache/
logs/
!app/cache/.gitkeep
!app/logs/.gitkeep
build/
vendor/
bin/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project


### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

·### Backup files ###
*~
*.bak
composer.lock
.travis.yml
app/backups
