parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ortodonciabdg
    database_user:     gerencial
    database_password: ~

    locale:            es
    secret:            5dd84003aa04ff8f4713611f55de19263ab555783473030f376c758d1bbea35fb5b399e2ba4c33a3742f051afe4cd774aba24e3c20fb013351cfaf6bc2b656d7
