parameters:
    database_driver:   pdo_mysql
    database_host:     us-cdbr-iron-east-03.cleardb.net
    database_port:     ~
    database_name:     heroku_9f0b077bc528f2b
    database_user:     b2b39cea69c35c
    database_password: ac910abe

    locale:            es
    secret:            5dd84003aa04ff8f4713611f55de19263ab555783473030f376c758d1bbea35fb5b399e2ba4c33a3742f051afe4cd774aba24e3c20fb013351cfaf6bc2b656d7
    backup_dir: %kernel.root_dir%/backups
