parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     odontologia
    database_user:     gerencial
    database_password: ~

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
