{% extends "SIGBundle:Default:index.html.twig" %}

{% block parameters %}
<h1>Gestión de Respaldos a la base de datos</h1>
{{ form(form, {'style': 'horizontal'}) }}
{% endblock %}

{% block javascript %}
<script>
    require(['../bundles/sig/js/bd'], function(bd) {
    });
</script>
{% endblock %}