{% extends "SIGBundle:Default:index.html.twig" %}

{% block parameters %}
<h1>Generación de reporte de asistencias generales</h1>
<div id="parametros" class="row">{{ form(form, {'style': 'horizontal', 'col_size': 'xs'}) }}</div>
{% endblock %}

{% block javascript %}
<script>
    require(['bootstrap-datepicker'], function($) {
        var btn = $('#form_actions_generar');
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            clearBtn: true,
            language: 'es',
            autoClose: true
        });
        $('form[name="form"]').submit(function(e) {
            e.preventDefault();
            btn.button('loading');
            $.ajax({
                url: Routing.generate('validar-asistencias'),
                type: 'POST',
                dataType: 'json',
                data: $('form[name="form"]').serialize()
            })
            .done(function(response) {
                data = JSON.parse(response);
                $('#preview-pdf').prop('src', data.route);
            })
            .fail(function(response) {
                console.log(response);
            })
            .always(function() {
                btn.button('reset');
            });
            
        });
        $('#form_actions_limpiar').click(function() {
            btn.button('reset');
        });
    });
</script>
{% endblock %}