{% extends "SIGBundle:Default:index.html.twig" %}

{% block parameters %}
<h1>Generación de reporte de asistencias generales</h1>
<div id="parametros" class="row">{{ form(form, {'style': 'horizontal'}) }}</div>
{% endblock %}

{% block javascript %}
<script>
    require(['bootstrap-datepicker'], function($) {
        var btn = $('#parametros_actions_generar');
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            clearBtn: true,
            language: 'es',
            autoClose: true
        });
        $('form[name="parametros"]').submit(function(e) {
            e.preventDefault();
            btn.button('loading');
            $.ajax({
                url: Routing.generate('validar-asistencias'),
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize()
            })
            .done(function(response) {
                data = JSON.parse(response);
                $('#preview-report').html('<iframe src="%src%" frameborder="0" class="col-xs-12" height="%height%"></iframe>'.replace('%src%', data.route).replace('%height%', $(window).height()));
                window.setTimeout(function() {
                    location.href = '#preview-report';
                }, 1500);
            })
            .fail(function(response) {
                console.log(response);
            })
            .always(function() {
                btn.button('reset');
            });
            
        });
        $('#parametros_actions_limpiar').click(function() {
            btn.button('reset');
        });
    });
</script>
{% endblock %}