{% extends "SIGBundle:Default:index.html.twig" %}

{% block parameters %}
<h1>Generación de reporte de Relaciones Sagitales</h1>
{{ form(form, {'style': 'horizontal'}) }}
{% endblock %}

{% block javascript %}
<script>
    require(['../bundles/sig/js/sagitales'], function(sagitales) {
    });
</script>
{% endblock %}

