{% extends "SIGBundle::reporteMaestro.pdf.twig" %}

{% block contenido %}
<h2 text-align="center">Casos referidos</h2>
<p text-align="center">Desde {{ util.fecha(fecha_inicio) }} hasta el {{ util.fecha(fecha_fin) }}</p>
{% endblock %}
