{% extends 'SIGBundle:Default:index.html.twig' %}

{% block layout %}
<div class="container">
	<form action="{{ path('login_check') }}" method="post" class="form-signin">
		<h2 class="form-signin-heading text-center">Identifíquese</h2>
		<div class="control-group">
			<div class="controls">
		<input id="username" class="form-control" type="text" name="_username" value="{{ last_username }}" placeholder="Nombre de usuario" required autofocus />
		<input id="password" class="form-control" type="password" name="_password" placeholder="Contraseña" required />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
		<label class="checkbox"><input type="checkbox" id="remember_me" name="_remember_me" /> Mantener conectado</label>
		<input type="submit" value="Acceder" class="btn btn-primary btn-large btn-block" />
			</div>
		</div>
		{% if error %}
		<div class="alert alert-warning alert-dismissable fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ error.message|trans }}
		</div>
		{% endif %}
	</form>
</div>
{% endblock %}
