{% extends 'SIGBundle:Default:index.html.twig' %}

{% block content %}
<h1>{{ title }}</h1>
{{ form(form) }}
<a href="{{ path('usuario_index') }}" id="usuario_new_actions_regresar" class="btn btn-default">Regresar</a>
{% endblock %}

{% block javascript %}
<script>
require(['../bundles/sig/js/usuario_new'], function(usuario_new){
});
</script>
{% endblock %}
