{% extends 'SIGBundle:Default:index.html.twig' %}

{% block content %}
<h1>Ingresar un nuevo usuario</h1>
{{ form(form, { 'style': 'horizontal' }) }}
<a href="{{ path('usuario_index') }}" id="usuario_actions_regresar" class="btn btn-default">Regresar</a>
{% endblock %}

{% block javascript %}
<script>
require([
	'../bundles/sig/js/util/dom_usuario',
	'../bundles/sig/js/util/generate_username',
	'../bundles/sig/js/validator/validadores'
	], function(dom, genUsername, validador){
		dom.nuevo();
		$('#usuario_nombres').keypress(genUsername);
		$('#usuario_apellidos').keypress(genUsername);
		validador.nuevo('form[name="usuario"]');
});
</script>
{% endblock %}
