{% extends "SIGBundle:Default:index.html.twig" %}

{% block parameters %}
<h1>Generación de reporte de Enfermedades Padecidas</h1>
{{ form(form, {'style': 'horizontal'}) }}
{% endblock %}

{% block javascript %}
<script>
    require(['../bundles/sig/js/enfermedades'], function(enfermedades) {
    });
</script>
{% endblock %}