{% extends "SIGBundle:Default:index.html.twig" %}

{% block parameters %}
<h1>Generación de reporte de Enfermedades Padecidas</h1>
<div id="parametros" class="row">{{ form(form, {'style': 'horizontal', 'col_size': 'xs'}) }}</div>
<canvas id="preview"></canvas>
{% endblock %}




{% block javascript %}
<script>
    require(['../bundles/sig/js/enfermedades'], function(enfermedades) {
    });
</script>
{% endblock %}