{% extends "SIGBundle::reporteMaestro.pdf.twig" %}

{% block content %}
<h1 text-align="center">Enfermedades Padecidas</h1>
<p text-align="center">Desde {{ util.fecha(fecha_inicio) }} hasta el {{ util.fecha(fecha_fin) }}</p>
{% endblock %}